{% extends "layout.html" %}

{% block content %}


 
    </div>
    </header>
    <section class="cards">
    <div class="card" id="iDsvCiVG9kk">
     <div class=" card_image">
    <img src="https://img.youtube.com/vi/iDsvCiVG9kk/maxresdefault.jpg" alt="ERA PARA APARECER IMAGEM AQUI">
    </div>
    <div class=" card_content">
    <P>CARROS NOVOS</P>
    </div>
    <div class="card_info">
    <p>17:50 min</p>
    <p class="card_prince">FREE</p>
    </div>
    </div>
    <div class="card" id="lUq6TwYi8mg">
     <div class=" card_image">
    <img src="https://img.youtube.com/vi/lUq6TwYi8mg/maxresdefault.jpg" alt="ERA PARA APARECER IMAGEM AQUI">
    </div>
    <div class=" card_content">
    <P>CARROS SEMI NOVOS</P>
    </div>
    <div class="card_info">
    <p>17:50 min</p>
    <p class="card_prince">FREE</p>
    </div>
    </div>
    <div class="card" id="0813eXwgC6I">
     <div class=" card_image">
    <img src="https://img.youtube.com/vi/0813eXwgC6I/hqdefault.jpg" alt="ERA PARA APARECER IMAGEM AQUI">
    </div>
    <div class=" card_content">
    <P>CARROS ANTIGOS</P>
    </div>
    <div class="card_info">
    <p>17:50 min</p>
    <p class="card_prince">FREE</p>
    </div>
    </div>
    </section>
    
    {%endblock%}